<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{usuario.add.headline}" />
    <script th:src="@{/js/validaUsuario.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 th:text="#{usuario.add.headline}" class="flex-grow-1" />
        <div>
            <a th:href="@{/usuarios}" th:text="#{usuario.add.back}" class="btn btn-secondary" />
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('usuario')}" />
    <form th:action="${T(com.bootcamp.ejercicio7m6.util.WebUtils).getRequest().requestURI}" method="post">
        <div th:replace="~{fragments/forms::inputRow(object='usuario', field='nombre')}" />

        <div th:replace="~{fragments/forms::inputRow(object='usuario', field='nombreUsuario')}" />
        <div th:replace="~{fragments/forms::inputRow(object='usuario', field='contrasena' type='password')}" />
        <div th:replace="~{fragments/forms::inputRow(object='usuario', field='tipoUsuario', type='select', inputClass='custom-class', __tipoUsuario__Values=${tipoUsuarioValues})}" />

        <div id="form-administrativo">
            <!-- Campos específicos para Administrativo -->
            <div th:replace="~{fragments/forms::inputRow(object='administrativo', field='area' )}" />
            <div th:replace="~{fragments/forms::inputRow(object='administrativo', field='experienciaPrevia' )}" />
        </div>

        <div id="form-profesional">
            <!-- Campos específicos para Profesional -->
            <div th:replace="~{fragments/forms::inputRow(object='profesional', field='fechaIngreso')}" />
            <div th:replace="~{fragments/forms::inputRow(object='profesional', field='titulo')}" />
        </div>

        <div id="form-cliente">
            <!-- Campos específicos para Profesional -->
            <div th:replace="~{fragments/forms::inputRow(object='cliente', field='rut')}" />
            <div th:replace="~{fragments/forms::inputRow(object='cliente', field='direccion')}" />
            <div th:replace="~{fragments/forms::inputRow(object='cliente', field='comuna')}" />
            <div th:replace="~{fragments/forms::inputRow(object='cliente', field='edad')}" />
            <div th:replace="~{fragments/forms::inputRow(object='cliente', field='telefono')}" />
            <div class="input-row">
                <label class="col-md-2 col-form-label">Sistema Salud</label>
                <select class="col-md-10 form-control" name="sistemaSalud">
                    <option value="1">FONASA</option>
                    <option value="2">ISAPRE</option>
                </select>
            </div>
            <div th:replace="~{fragments/forms::inputRow(object='cliente', field='afp')}" />

        </div>


        <input type="submit" th:value="#{usuario.add.headline}" class="btn btn-primary mt-4" />
    </form>
</div>
</body>
</html>
