<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{checklist.view.headline}" />
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 th:text="#{checklist.view.headline}" class="flex-grow-1" />
        <div>
            <a th:href="@{/checklists}" th:text="#{checklist.add.back}" class="btn btn-secondary" />
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('checklist')}" />
    <form th:action="${T(com.bootcamp.ejercicio7m6.util.WebUtils).getRequest().requestURI}" method="post">

        <div th:replace="~{fragments/forms::inputRow(object='checklist', field='fechaCheck', inputClass='js-datepicker')}" />

        <div class="row mb-3">
            <label class="col-md-2 col-form-label">
                <span>Visita</span>
            </label>
            <div class="col-md-10">
                <select class="col-md-8 form-control" name="visita" th:value="${checklist.visita}">
                    <option th:each="visita : ${visitas}" th:value="${visita.idVisita}" th:text="${visita.rutCliente + ': ' + visita.detalle} "></option>

                </select>
                <a th:href="@{/visitas/edit/{idVisita}(idVisita=${checklist.visita})}" th:text="${'Ver Visita'}" class="span span-sm" />
            </div>
        </div>
        <div th:replace="~{fragments/forms::inputRow(object='checklist', field='nombreUsuario')}" />

        <div class="row mb-3">
            <label class="col-md-2 col-form-label">
                <span>Descripción</span>
            </label>
            <div class="col-md-10">
                <textarea class="col-md-8 form-control" name="descripcion" rows="4" th:text="${checklist.descripcion}">

                </textarea>


            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-2 col-form-label">
                <span>Estado</span>
            </label>
            <div class="col-md-10">
                <select class="col-md-8 form-control" name="estado" th:value="${checklist.estado}">
                    <option value="1">APROBAR</option>
                    <option value="2">RECHAZAR</option>
                </select>
            </div>
        </div>


        <!--<input type="submit" th:value="#{checklist.add.headline}" class="btn btn-primary mt-4" />-->
    </form>
</div>
</body>
</html>

